.form-field__root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
}

.form-field__label {
  color: red;
  font-size: 30px;
}

.form-field__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
}

.form-field__input {
  background-color: #2e2e2e;
  color: #afafaf;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: 'Benguiat', sans-serif;
}

.form-field__input-error {
  background-color: #2e2e2e;
  color: #afafaf;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: 'Benguiat', sans-serif;
  box-shadow: 1px 1px 10px red, 1px 1px 10px red, 1px 1px 10px red;
}

.form-field__input:focus,
.form-field__input-error:focus {
  border: 2px solid red;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form-field__error-text {
  color: red;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

