.SignUpFormRoot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
}

.SignUpFormTitle {
  color: red;
  text-align: center;
}

.SignUpFormInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.SignUpFormInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
}

.SignUpFormLabel {
  color: red;
  font-size: 30px;
}

.SignUpFormSubmitButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.SignUpFormSubmitButton {
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  font-family: 'Shadows of Security', sans-serif;
  font-size: 30px;
  border-radius: 10px;
  outline: none;
}

.SignUpFormSubmitButton:hover {
  color: red;
}

.SignUpFormSubmitButton:active {
  background-color: red;
  color: black;
}

