.NavigationBar {
  display: flex;
  width: 50%;
  padding-bottom: 20px;
  border-bottom-style: double;
  border-bottom-color: red;
}

.NavigationBarContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  margin-left: 20px;
}

.NavigationBarButton {
  padding-right: 60px;
  padding-top: 10px;
}

.NavigationBarButtonText {
  font-size: 20px;
  color: #9e0000;
}

.NavigationBarButtonText:hover {
  color: red;
}

.NavigationBarButtonText:active {
  color: black;
  text-shadow:
    1px 1px 2px red,
    1px 1px 2px red,
    1px 1px 2px red,
    1px 1px 2px red;
}

.SingInButton {
  display: flex;
  flex: 0.1;
  height: 30px;
}

.SingInButton:hover {
  border-color: red;
}

.Button:active {
  color: red;
}
