.NavigationBar {
  display: flex;
  width: 1000px;
  align-items: center;
  border-bottom-style: double;
  border-bottom-color: red;
}

.NavigationBarContainer {
  display: flex;
  flex: 1;
  align-items: center;
  height: 30px;
  margin-left: 20px;
}

.NavigationBarButton {
  padding-right: 60px;
}

.NavigationBarButtonText {
  font-size: 25px;
  color: #9e0000;
}

.NavigationBarButtonText:hover {
  color: red;
}

.NavigationBarButtonText:active {
  color: black;
  text-shadow:
    1px 1px 2px red,
    1px 1px 2px red,
    1px 1px 2px red,
    1px 1px 2px red;
}

.SignInButton {
  padding-right: 20px;
}

.SignInButton:hover {
  color: red;
}

.Button:active {
  color: black;
  text-shadow:
    1px 1px 2px red,
    1px 1px 2px red,
    1px 1px 2px red,
    1px 1px 2px red;
}
