body {
  width: 100%;
  min-height: 1000px;
  margin: 0;
  padding: 0;
  font-family: 'Shadows of Security', sans-serif;
  background-image: url("./assets/images/background_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'Shadows of Security';
  src: local('Shadows of Security'),
  url('../src/assets/fonts/Shadows of Security.otf') format('opentype');
}

@font-face {
  font-family: 'Hellion';
  src: local('Hellion'),
  url('../src/assets/fonts/Hellion.ttf') format('truetype');
}

@font-face {
  font-family: 'Benguiat';
  src: local('Benguiat'),
  url('../src/assets/fonts/Benguiat.ttf') format('truetype');
}

.app__root {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  align-items: center;
}

.app__title {
  color: black;
  font-family: 'Hellion', sans-serif;
  font-size: 50px;
  text-shadow:
    2px 2px 10px red,
    2px 2px 10px red,
    2px 2px 10px red,
    2px 2px 10px red;
}

.app__title:hover {
  color: #9b0000;
}

.app__title:active {
  color: #600000
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #600000;
}

::-webkit-scrollbar-thumb:hover {
  background: red;
}
